.disabled {
  cursor: not-allowed;
  background-color: white;
  border: 2px solid red;
  border-radius: 0.6em;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0.5em 1.8em;

  //   &:hover,
  //   &:focus {
  //     background-color: #340100;
  //     border: 1px solid white;
  //     color: white;
  //   }
}

//Colours
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;

// Basic Button Style
.button {
  background-color: #b39d4e;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: white;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0.5em 1.8em;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    color: white;
    outline: 0;
    border: 3px solid #b39d4e;
  }
}

// BUTTON 4
.fourth {
  // background: $yellow;
  border-color: #340100;
  color: white;
  background: {
    image: linear-gradient(45deg, #340100 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 0;
  }
}
